$font-size:                   16px;

$font-size-h1:                40px;
$font-size-h2:                32px;
$font-size-h3:                24px;
$font-size-h4:                18px;
$font-size-h5:                16px;
$font-size-h6:                16px;

$font-size-sm:                0.75em; // 12px от 16px

$line-height:                 1.5;

$typo-margin-vertical:        1em;

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family--monospace:     SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;