footer.page-footer
  .container
    .row.justify-cotent-center.align-items-center
      .col-sm-12.col-md-12.col-xl-6
        nav.navbar.navbar-expand-sm.bg-transparent
          ul.navbar-nav.mr-auto
            li.nav-item.text-white
              a.nav-link(href='./')
                small.
                  Creative Time
            li.nav-item.text-white
              a.nav-link(href='./')
                small.
                  About Us
            li.nav-item.text-white
              a.nav-link(href='./')
                small.
                  Blog
            li.nav-item.text-white
              a.nav-link(href='./')
                small.
                  Lisenses
      //- end navbar container
      .col-sm-12.col-md-12.col-xl-6
        p.copyright.text-white.text-sm-center.text-xl-right
          small 2019, made with by Creative Tim          
      //- end navbar copyright container