nav.main-nav.navbar.navbar-expand-md
  .container
    a.navbar-brand.text-white(href='./') Creative Tim
    button.navbar-toggler(type='button', data-toggler='collapse', 
    data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', 
    aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
      span.navbar-toggler-icon
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.ml-auto
        li.nav-item.text-white
          a.nav-link(href='./').
            Components
        li.nav-item.text-white
          a.nav-link(href='./').
            Download
        li.nav-item.text-white
          a.nav-link.nav-social-link.nav-fb(href='./')
            i.icon.ion-logo-twitter
        li.nav-item.text-white
          a.nav-link.nav-social-link.nav-fb(href='./')
            i.icon.ion-logo-facebook
        li.nav-item.text-white
          a.nav-link.nav-social-link.nav-fb(href='./')
            i.icon.ion-logo-instagram